/* Global styles */
  *{
    margin: 0;
    }
  

body {
    background-color: rgb(0, 0, 0); 
}

img {
    display : block;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #000000;
    
}
h1
{
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 20px 0;
}
h2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}
/* Mobile styles */

body {
   
    line-height: 1.6;
    font-size: 30px;
    text-align: left;
 
}
button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 0;
}



#container8home {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#container8overworld {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: rgb(46, 148, 53);
    padding: 20px;
    box-shadow: 0 0 10px rgb(6, 94, 25);
    size: 100px;
}
#container8nether {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: rgb(204, 90, 90);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#container8end {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: rgb(150, 36, 144);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#container8media {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(199, 183, 183);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div {
    box-sizing: border-box;
    height: 35%;
    width: 25%;
    background-color: black;
   margin: 4%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 30%;
    float: left;

}
    
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: block;
    margin: 0 15px;
}
nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    
}
nav li a:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
}
.conainer {
   position: relative;
   width: 50%;
}
.container img {
   width: 100%;
   height: auto;
}
main {
    padding: 10px;
    margin: 10px 0;
}
.main_content {
    padding: 10px;
}
.col {
    margin: 10px 0;
}
.col img {
    border: #333 solid 2px;
    border-radius: 10px;

}
@media (min-width: 600px) {

}
@media (min-width: 1000px) {

    

div {
    box-sizing: border-box;
    height: 17%;
    width: 17%;
    background-color: black;
    margin: 4%;
    float: left;
}
iframe {
    display : block;
    margin: 4%;
    float: left;
   
}
nav li {
    display: inline;
    margin: 0 15px;
}
nav li a {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 0;
}
.content-section {
  flex: 2;
  
  padding: 1rem;
  border-radius: 8px;
}
.sidebar1 {
  flex: 1;
  background-color: #eee;
  padding: 1rem;
  border-radius: 8px;
}
.sidebar2 {
  flex: 1;
  background-color: rgb(46, 148, 53);
  padding: 1rem;
  border-radius: 8px;
}
.responsive-img {
  width: 60%;
  margin-top: 5%;
}
#nether1 {
    display : block;
    margin: 4%;
    float: left;
    width: 50%;
    background-color: rgb(204, 90, 90);
}
#nether2 {
    display : block;
    margin-top: 4%;
    margin-right : 0%;
    float: right;
    width: 35%;
    background-color:rgb(204, 90, 90) ;
}

#media1 {
    display : block;
    margin: 0%;
    float: left;
    width: 100%;
    background-color: rgb(199, 183, 183);
}
iframe {
    display : inline-block;
    margin: 5% auto;
    margin-left: 5%;

}
h5 {
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 4% ;
    size: 40%;
}
 #overworld1 {
    display : block;
    margin: 0%;
    margin-top: 6%;
    float: left;
    width: 45%;
    background-color: rgb(46, 148, 53); 

}
 #overworld2 {
    display : block;
    margin: 2%;
    margin-top: 4%;
    float: right;
    width: 45%;
    background-color: rgb(46, 148, 53);
}
}