/* Global styles */
  *{
    margin: 0;
    }
  

body {
    background-color: #198345; 
}
img {
    display : block;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #333;
    
}
a:hover {
    text-decoration: none;
}
/* Mobile styles */

#container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: block;
    margin: 0 15px;
}
nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    
}
nav li a:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
}
main {
    padding: 10px;
    margin: 10px 0;
}
.main_content {
    padding: 10px;
}
.col {
    margin: 10px 0;
}
.col img {
    border: #333 solid 2px;
    border-radius: 10px;
}