

body {
  font-family: Arial, sans-serif;
  margin: 15%;
  padding: 15%;
  background-color: #1d4330;

}

header {
  background-color: #22563b;
  color: #fff;
  padding: 20px;
  text-align: center;
  outline: black solid 5px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  max-width: 8000px;
  margin: auto;
  background-color: white;
  outline: black solid 5px;
}

h1, h2, h3 {
  color:black;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

img {
  margin: 10px;
  border: 2px solid #ccc;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
